/*
	Theme Factory
	Versão		: 5.0
	Autor		: Angelo Rocha
	Site		: www.angelorocha.com.br
	Contato		: contato@angelorocha.com.br
	Licença		: GPL V.2.0
*/

@import url(reset.css);
@import url(blocks.css);
@import url(itensXoops.css);
@import url(menu.css);
@import url(effects.css);
@import url(xoopseditor.css);
@import url(system.css);


#tf-container {background:#FFF; margin:0 auto; overflow:hidden;}

#blockZone {background:#FFF; margin:0 auto; padding:0;}

#pre-header{background:none; width:auto; height:auto; position:relative;}

#tf-header{background:#F4F4F4; color:#000; height:40px; margin:0 auto;}

.logo{font-family:arial; font-size:12pt; font-weight:bold; color:#000; padding:5px;}

#tf-banner{float:right; padding-right:5px; padding-top:20px; position:relative;}

#tf-footer{
  background:#F4F4F4;
  height:150px;
  display:block;
  text-align:center;
}

#tf-footer-2{
  background:none;
  width:90%;
  margin:30px auto;
}

.clear{
  clear:both;
}

.xoops_content_shadow{
  -moz-box-shadow: :0px 0px 5px 1px #333;
  -webkit-box-shadow: :0px 0px 5px 1px #333;
  box-shadow:0px 0px 5px 1px #333;
}